[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COMBO"]
	path = COMBO
	url = https://github.com/kimberlywebb/combo
[submodule "COMMA"]
	path = COMMA
	url = https://github.com/kimberlywebb/comma
